<section class="content-header" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Viktors Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/authors/author">Add Author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books/book">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories/category">Add Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders/order">Add Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shippings/shipping">Add Shipping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authors">List Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">List Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">List Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">List Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shippings">List Shippings</a>
            </li>
        </ul>
    </div>
</nav>
</section>