<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Author</title>
    <meta charset="UTF-8">
</head>
<body>
    <section class="content-header" th:replace="headers/imports::imports"></section>
    <section class="content-header" th:replace="headers/navbar::navbar"></section>

    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 mx-auto">
                <h4 class="text-primary text-center">Author</h4>
                <form method="post" th:action="@{/authors}" th:object="${author}">
                    <div class="form-group" style="visibility: hidden">
                        <input type="text" class="form-control" placeholder="Id" th:field="*{id}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nationality" th:field="*{nationality}"/>
                    </div>
                    <div class="form-group">
                        <select name="rating" title="rating">
                            <option th:value="Beginner" th:label="Beginner"/>
                            <option th:value="Intermediate" th:label="Intermediate"/>
                            <option th:value="Professional" th:label="Professional"/>
                            <option th:value="Renowned" th:label="Renowned"/>
                            <option th:value="Legendary" th:label="Legendary"/>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>