<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Authors</title>
    <meta charset="UTF-8">
</head>
<body>
    <section class="content-header" th:replace="headers/imports::imports"></section>
    <section class="content-header" th:replace="headers/navbar::navbar"></section>

    <div class="container">
        <div class="row my-5">
            <div class="col-sm-8 mx-auto">
                <h4 class="text-primary text-center">Author List</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Nationality</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="author : ${authors}">
                        <tr>
                            <th th:text="${author.id}"></th>
                            <td th:text="${author.firstName}"></td>
                            <td th:text="${author.lastName}"></td>
                            <td th:text="${author.nationality}"></td>
                            <td>
                                <a th:href="@{|/authors/author/${author.id}|}" class="btn btn-white btn-lg text-warning"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <a th:href="@{|/authors/delete/${author.id}|}" class="btn btn-white btn-lg text-danger post"> <i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>