<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Cateogry</title>
    <meta charset="UTF-8">
</head>
<body>
<section class="content-header" th:replace="headers/imports::imports"></section>
<section class="content-header" th:replace="headers/navbar::navbar"></section>

<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 mx-auto">
            <h4 class="text-primary text-center">Category</h4>
            <form method="post" th:action="@{/categories}" th:object="${category}">
                <div class="form-group" style="visibility: hidden">
                    <input type="text" class="form-control" placeholder="Id" th:field="*{id}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>