<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Orders</title>
    <meta charset="UTF-8">
</head>
<body>
    <section class="content-header" th:replace="headers/imports::imports"></section>
    <section class="content-header" th:replace="headers/navbar::navbar"></section>

    <div class="container">
        <div class="row my-5">
            <div class="col-sm-8 mx-auto">
                <h4 class="text-primary text-center">Order List</h4>
                <input type="text" class="form-control" placeholder="Search" id="search" style="margin-top: 2em; margin-bottom: 2em;"/>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Shipping</th>
                        <th scope="col">Books</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="table">
                    <th:block th:each="order : ${orders}">
                        <tr>
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.date}"></td>
                            <td>
                                <div class="panel-group">
                                    <div clas="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a data-toggle="collapse" th:href="@{|#shipping${order.id}|}" th:text="${order.shipping.firstName}"></a>
                                            </p>
                                        </div>
                                        <div th:id="@{|shipping${order.id}|}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Id</th>
                                                            <th scope="col">First Name</th>
                                                            <th scope="col">Last Name</th>
                                                            <th scope="col">Address</th>
                                                            <th scope="col">Postal Code</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td th:text="${order.shipping.id}"></td>
                                                            <td th:text="${order.shipping.firstName}"></td>
                                                            <td th:text="${order.shipping.lastName}"></td>
                                                            <td th:text="${order.shipping.address}"></td>
                                                            <td th:text="${order.shipping.postalCode}"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="panel-group">
                                    <div clas="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a data-toggle="collapse" th:href="@{|#orderlines${order.id}|}" th:text="Orderlines"></a>
                                            </p>
                                        </div>
                                        <div th:id="@{|orderlines${order.id}|}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Id</th>
                                                            <th scope="col">Book</th>
                                                            <th scope="col">Author</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <th:block th:each="orderline : ${orderlines}">
                                                            <tr th:if="${orderline.getOrder().getId() == order.id}">
                                                                <td th:text="${orderline.getId()}"></td>
                                                                <td th:text="${orderline.getBook().getTitle()}"></td>
                                                                <td th:text="${orderline.getBook().getAuthor().getFirstName() + ' ' + orderline.getBook().getAuthor().getLastName()}"></td>
                                                            </tr>
                                                        </th:block>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a th:href="@{|/orders/order/${order.id}|}" class="btn btn-white btn-lg text-warning"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <a th:href="@{|/orders/delete/${order.id}|}" class="btn btn-white btn-lg text-danger post"> <i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <section class="content-header" th:replace="scripts/search::search"></section>

</body>
</html>