<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Book</title>
    <meta charset="UTF-8">
</head>
<body>
    <section class="content-header" th:replace="headers/imports::imports"></section>
    <section class="content-header" th:replace="headers/navbar::navbar"></section>

    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 mx-auto">
                <h4 class="text-primary text-center">Order</h4>
                <form method="post" th:action="@{/orders}" th:object="${order}">
                    <div class="form-group" style="visibility: hidden">
                        <input type="text" class="form-control" placeholder="Id" th:field="*{id}"/>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Date" th:field="*{date}"/>
                    </div>
                    <div class="form-group">
                        <label for="book">Book</label>
                        <!--<ul id="book">-->
                            <!--<li th:each="book : ${books}">-->
                                <!--<label th:text="${book.title}"></label>-->
                                <!--<input name="idBook" type="checkbox" th:value="${book.id}" />-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<tbody id="book">-->
                            <!--<tr th:each="book, stat : ${bookForm.bookList}">-->
                                <!--&lt;!&ndash;<label th:text="|book[${stat.index}]"></label>&ndash;&gt;-->
                                <!--<td><input type="checkbox"-->
                                           <!--th:name="|book[${stat.index}]|"-->
                                           <!--th:value="|book[${stat.index}]|" />-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                        <ul id="book">
                            <li th:each="book : ${bookForm.bookList}">
                                <!--<div class="ui checkbox">-->
                                    <label th:text="${book.title}"></label>
                                    <input type="checkbox" th:field="*{bookList}" th:value="${book.id}">
                                <!--</div>-->
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="shipping">Shipping</label>
                        <select name="idShipping" id="shipping">
                            <th:block th:each="shipping : ${shippings}">
                                <option th:value="${shipping.id}" th:label="${shipping.firstName}"/>
                            </th:block>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>